.root {
  color: white;
  line-height: 30px;

  &_P24 {
    font-size: 24px;
  }

  &_P20 {
    font-size: 20px;
  }

  &_P18 {
    font-size: 18px;
  }

  &_P16 {
    font-size: 16px;
  }

  &_P14 {
    font-size: 14px;
  }

  &_P9 {
    font-size: 9px;
  }
}
